<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>data页面</title>
    <style media="screen">
      .container{
        position:absolute;
        top:60px;
        left:0px;
      }
      .dataplace{
        position:absolute;
        top:70px;

        height:150px;
        width:147px;
        background-color: rgb(245, 191, 158);
      }
    </style>
  </head>
  <body>
    <div class="container">

    <button id="showbutton" type="button"
        name="showdata">显示数据库中的城市名</button>
    <div class="dataplace" id="datadiv">

    </div>
  </div>
  <script type="text/javascript" src="js/cityMain.js"></script>

  </body>
</html>
